<div class="row section_heading">
  <h2>About Me</h2>
  <hr>
  <p class="content">Welcome to my world!</p>

  <br>

  <p class="content">I am a second-year student in research-based master’s program in Robotics at Carnegie Mellon University, School of Computer Science, focusing on computer vision and machine learning. My research focuses on understanding human behavior through computer vision, machine learning and psychology. I have been working on building multi-modal (using video and audio) emotion recognition system and on understanding the influence of body posture, facial expressions and head motions on the behavior of people in interpersonal conversations.</p>

	<!-- I am currently pursuing Master’s in Robotics at Carnegie Mellon University, a research orientated graduate program, involves supervised research for the entire program duration. My research is at the intersection of computer vision/AI and Psychology. Trying to understand human body language in a groups of people based on the facial expressions, facial movements and body pose. I am exploring how things like gender, age, if someone is depressed or in state of conflict affects body language.
 -->
  <br>

  <p class="content">Prior to joining CMU, I worked as a research staff at School Of Computer Science & Engineering, Nanyang Technological University, Singapore. Where I was working in the area of embedded computer vision, on implementing real time, hardware efficient object and pedestrian detection systems on embedded devices. Prior to that during my undergrad I did a double major in Physics and Electrical Engineering from BITS Pilani University, India. </p>

  <br>



  <p class="content">More details are in my <a target="_blank" href="https://bhavanj.github.io/BhavanJ.github.io/files/Bhavan_Jasani_CV.pdf">CV</a>.</p>

  <br>

  <div class="col-md-12" align="center">

    <a class="btn btn-social-icon btn-lg btn-github" href="http://github.com/bhavanj" target="_blank">
      <span class="fa fa-github"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-linkedin" target="_blank" href="https://www.linkedin.com/in/bhavan-jasani">
      <span class="fa fa-linkedin"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-google" target="_blank" href="https://scholar.google.com/citations?hl=en&user=NYEz_7YAAAAJ">
      <span class="fa fa-google"></span>
    </a>

<!--     <a class="btn btn-social-icon btn-lg btn-twitter" href="https://twitter.com/tjskhot" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>
 -->
<!--     <a class="btn btn-social-icon btn-lg btn-facebook" target="_blank" href="http://facebook.com/tjskhot">
      <span class="fa fa-facebook"></span>
    </a>
 -->
  </div>
</div>
