<div class="row section_heading">
  <h2>Personal hobbies</h2>
  <hr>
  <p class="content"> In my free time I love reading psychology and behaviour economics books, Professor Dan Ariely is my favourite author. I love swimming and martial arts, in particular the Wing Chun style which was followed by Ip Man, Bruce Lee's teacher. Love drinking and collecting Green Tea. I have a huge and growing collection of Tea from all over the world. I would say the easiest way to impress me is through an exotic collection of tea leaves.</p>
</div>